* {
    font-family: 'Montserrat', sans-serif;
}

.dates_produit{
    font-size: 1rem;
}


/* Responsive gestion_membres */
@media only screen and (max-width:800px){
    #affichage_vertical tbody, #affichage_vertical tr, #affichage_vertical td {
        display: block;
    }
    #affichage_vertical thead tr{
        position: absolute;
        top:-9999px;
        left:-9999px;
    }
    #affichage_vertical td{
        position: relative;
        padding-left:50%;
        border:none;
        border-bottom: 1px solid #eee;
    }
    #affichage_vertical td:before {
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }
    #affichage_vertical tr{
        border-bottom: 2px solid rgb(47, 2, 2);
    }

  
}